<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div>
  ICI kendoka numéro X
  {{test}}

  Photo
  Présentation
  grade
  nom
  prenom
  experience en debana
  essai raté
  nb fictifs of course

  gif animé
  photo cute

  ++ duel ++
  animation
  gauche va vers droite
  droite rattrape gauche en premier tout le temps

  +compteur de duels

  Nombres d'essais
  0 VS 250


  créé une vue sensei
  avec le nombre total de duels


</div>
