<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div>
  {{today}}
</div>
<div>poulet</div>
<div style="font-size:18px;font-weight: bold;"><timer end-time="date">{{days/7 | number:0}} semaines</timer></div>
<div><timer end-time="date">{{days}} jour{{daysS}} {{weeks}} {{hours}} heure{{hoursS}}, {{minutes}} minute{{minutesS}} {{seconds}} second{{secondsS}}.</timer></div>

<hr/>
<hr/>
<hr/>

<ul>
  <li ng-repeat="kendoka in kendokas">
    <a href="#/kendoka">{{kendoka.name}} + photo</a>
    on hover, effect
    on click, go to page précise
  </li>
</ul>

en face
image sensei
on click : message aléatoire "hahaha"
on hover : effect