<div class="hp">
  <div class="container">
    <div class="intro-text">

      <div class="intro-heading">
        <timer end-time="main.date">{{days/7 | number:0}} semaines</timer>
      </div>
      <div class="intro-lead-in">
        <timer end-time="main.date">{{days}} jour{{daysS}} <br/> {{weeks}} {{hours}} heure{{hoursS}} {{minutes}} minute{{minutesS}} {{seconds}} seconde{{secondsS}}</timer>
      </div>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>
  </div>
</div>

<div>
  today :
  {{main.today}}
</div>
<div></div>

<hr/>
<hr/>
<hr/>

<ul class="characters">
  <li ng-repeat="kendoka in main.kendokas">
    <a ng-href="#/kendoka/{{kendoka.id}}">{{kendoka.name}} + photo</a>
    on hover, effect
    on click, go to page précise
  </li>
</ul>

en face
image sensei
on click : message aléatoire "hahaha"
on hover : effect